.listAgenda {
  border-right: #ad86e0 2px solid;
  height: 100%;
  flex-basis: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 20pt;
  font-weight: 800;
  color: #37313d;
  margin: 20px 0 20px 0px;
}

.card {
  cursor: pointer;
  padding: 0 10px 0 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  height: 40px;
  margin: 0.5vh 10px 0vh 0vw;

  background: #4b2a75;
}

.card:hover {
  background: #9fa5ff;
}

h2 {
  font-size: 1.5em;
  color: #fff;
}

p {
  font-size: 1.2em;
  color: #fff;
}