.listCard {
  width: fit-content;
  display: flex;
  flex-direction: row;

  background-color: rebeccapurple;
}
.cardContact {
  width: 200px;
  height: 200px;

  background-color: blue;

  margin: 10px;
}
